.body-content{
  margin-top: 50px;
  background-color: hsl(0,0%,95%);
}
.body-content .market{
  width: 100%!important;
  height: 30vh;
  display: grid;
  justify-items: center;
  padding-top: 5rem;

  background-size: cover;
  background-repeat: no-repeat;
}
.body-content .market .title,
.body-content .market .subtitle{
  color: white;
  text-shadow: -2px 2px 1px black;
  padding: 0px 10px;
}
.body-content .market .title{
  font-size: 3em;
}
.body-content .market .subtitle{
  font-size: 1.8em;
}